#info {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fcf8e3;
  border: 1px solid #fbeed5;
  width: 95%;
  max-width: 900px;
  margin: 0 auto 40px auto;
  font-family: arial;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#portfoliolist {
  max-width: 87%;
  margin: auto;
}

#info .info-wrapper {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#info a {
  color: #c09853;
  text-decoration: none;
}

#info p {
  margin: 5px 0 0 0;
}

#filters {
  margin: 1%;
  padding: 0;
  list-style: none;
  text-align: center;
}

#filters li {
  text-align: center;
  display: inline-block;
  float: center;
}

#filters li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#filters li span {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

#filters li span.active {
  background: #e95a44;
  color: #fff;
}

#filters a:hover {
  transition: all 0.2s ease-in-out;
  color: black;
}

#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 18%;
  margin: 0.6rem;
  display: inline; /* Change this to change how gallery images load and change footer issue */
  overflow: hidden;
}

.portfolio-wrapper {
  position: relative !important;
  cursor: pointer;
}

.portfolio {
  width: 200px;
  height: 200px;
  padding: 0;
}
.portfolio img {
  width: 101%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio img:hover {
  transition: 0.3s ease-in-out;
  transform: scale3d(1.1, 1.1, 1);
  opacity: 80%;
}

.portfolio .label {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: -40px;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg {
  background: #e95a44;
  width: 100%;
  height: 100%;
  text-align: center;
  float: center;
}

.portfolio .label-text {
  color: #fff;
  position: relative;
  z-index: 500;
  padding: 5px 8px;
}

.portfolio .text-category {
  display: block;
  font-size: 9px;
}

.portfolio:hover .label {
  bottom: 0;
}

#portfoliolist .portfolio a {
  pointer-events: auto;
}

/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #portfoliolist .portfolio {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 1024px) {
  #portfoliolist a {
    pointer-events: none !important;
  }
}

/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  #portfoliolist .portfolio {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .portfolio img {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 5px;
  }

  #portfoliolist {
    max-width: 100%;
    margin: auto;
  }

  #ads {
    display: none;
  }
}

/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #portfoliolist .portfolio {
    width: 100%;
    margin: auto;
  }

  #ads {
    display: none;
  }
}

/* #Clearing */

/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after,
.clearfix:after {
  clear: both;
}
.row,
.clearfix {
  zoom: 1;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
