@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Stops all mobile sub menus from opening by default */
#menu .sub-menu:not(.open) {
  display: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/**
  * BOX HACKING
  */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
  * CLEAR FLOATS
  * Reference: http://w3bits.com/clearfix
  */

.cf:after,
.lab-grid:after {
  content: "";
  display: table;
  clear: both;
}

/**
  * CONTENT WRAPPER
  */





#menu ul {
  margin: 0;
  padding: 0rem 0rem 0rem 0rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}





#menu .main-menu {
  display: none;
  padding: 0rem 0rem 0rem 0rem;

}

#tm:checked+.main-menu {
  display: block;
}

#menu input[type="checkbox"],
#menu ul span.drop-icon {
  display: none;
}

/*
#menu li,
#toggle-menu,
#menu .sub-menu {
  border-style: solid; This put the strange border around the menu items 
}
*/


#menu .sub-menu {
  margin: 0 0em;
  /* THis will make the sub menu appear slimmer */
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li,
#toggle-menu,
#menu a {
  position: relative;
  display: block;
  color: black;
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.125);*/
}





#menu li {
  font-size: 0.9rem;
  letter-spacing: 1px;
}


#toggle-menu,
#menu a {
  /*padding: 1em 1.5em;*/
  padding: 0.5rem 0.5rem;
}

#toggle-menu,
#menu .logo-text a {
  padding-top: 0.5rem;
  margin-left: 0;
}

.hamburger {
  margin-left: 3rem;
}

/* Removed fade in of mobile menu items
#menu a {
  transition: all 0.125s ease-in-out;
  -webkit-transition: all 0.125s ease-in-out;
}
*/


#menu .addon a:hover {
  color: white;
}

#menu .sub-menu {
  display: block;
  border-width: 20%;

  /*
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
  */
}

#menu input[type="checkbox"]:checked+.sub-menu {
  /* this activates the sub menu */
  display: block;
}

/*
#menu .sub-menu a:hover {
  color: white;
  background-color: #3c3c3c;
}*/

#toggle-menu .drop-icon,
#menu li label.drop-icon {
  position: absolute;
  left: 0;
  top: 0;

}

/* Styling for the actual icon */
#menu label.drop-icon {
  height: 100%;
  position: absolute;
  right: 0;
  font-size: 1em;
  text-align: left;
  padding-left: 7rem;
  padding-top: 0rem;
  padding-bottom: 1.5rem;
  text-shadow: 0 0 0 transparent;
  color: rgba(0, 0, 0, 0.75);
}

.contact-us .arrow {
  display: none;
}

#toggle-menu span.drop-icon {
  padding: 0.55em 1em 0em 0.7em;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 0 0 0 transparent;
  color: rgba(0, 0, 0, 0.75);
}

.mobile-right-drop-icon {
  position: absolute;
  right: 0;
}

#menu .main-menu .logo {
  display: none;
}



#menu .addon {
  display: inline;
  padding: 0;
  pointer-events: none;
}

#menu .addon a {
  padding: 1rem 0.5rem;
}

#menu .addon img {
  pointer-events: auto;
}

.addon-section {
  display: inline;
  margin-left: 7vw;
}

.instagram {
  font-size: 0.75rem;
  padding-left: 1rem;
  text-align: left;
  display: none;
}

.instagram img {
  width: 10%;
}

.language-text {
  display: inline;
  padding-right: 1rem;
}

.language {
  text-align: center;
  font-size: 0.8rem;
}

.language img {
  width: 25px;
  vertical-align: middle;
}

/*
#menu .main-menu .logo-mobile {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  pointer-events: none;
  text-align: right;
}
*/

.logo-mobile {
  text-align: right;
}

#menu .main-menu .logo-mobile #logo-text {
  pointer-events: auto;
}

#toggle-menu {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  pointer-events: none;
}

#toggle-menu #logo-text {
  pointer-events: auto;
}

#toggle-menu .hamburger {
  pointer-events: auto;
}



.mobile-instagram {
  font-size: 0.5rem;

}

.mobile-instagram a {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;

}


.sub-menu hr {
  display: none;
  width: 100%;
  height: 1px;
  color: #333;
  background-color: white;
  opacity: 15%;
  margin: 0;
}


.sub-menu a {
  padding-top: 0.5rem;
  margin-left: 1rem;
}

.sub-menu {
  padding-top: 1rem;
  padding-left: 10rem;


}



















































@media only screen and (min-width: 1024px) {
  #menu {
    background-color: white;
  }



  #menu .main-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #menu .main-menu li {
    justify-content: center;

  }



  .sub-menu a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }

  .sub-menu hr {
    display: block;
    width: 100%;
    height: 1px;
    color: #333;
    background-color: white;
    opacity: 15%;
    margin: 0;
  }

  #menu .sub-menu li:hover~#menu .sub-menu li a {
    color: #009fe3;
    background-color: white;
  }

  #menu .logo a:hover {
    color: #333;
  }

  #menu li,
  #toggle-menu,
  #menu a {
    margin-left: 0rem;
    font-weight: 400;
  }

  #menu li,
  #toggle-menu,
  #menu a {
    text-transform: uppercase;
    font-size: 0.8rem;




    position: relative;
    display: block;
    color: #333;
    /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.125);*/
    border-top: 0px;
  }

  #toggle-menu,
  #menu a {
    padding: 0rem 0rem;
  }


  .sub-menu li {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    text-align: center;
  }


  .wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .logo {
    flex: 2;
    float: left;
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-transform: uppercase;
    pointer-events: auto;
    /*vertical-align: middle;*/
    margin-right: 0;
    padding-top: 0.4rem;
  }

  .main-menu-container {
    display: inline;
    flex: 2;
  }


  .instagram {
    flex: 1;
    margin-right: 1rem;
    text-align: right;
    display: block;
  }


  #logo-text {
    text-decoration: none;
    color: #333;
    letter-spacing: 0px;
  }


  .mobile-instagram {
    display: none;
  }

  #footer-hr hr {
    width: 100%;
  }

  .fa-instagram {
    padding-top: 0.4rem;
  }


  .logo a {
    text-align: left;
    padding-left: 1rem;
    font-size: 1.2rem;
  }


  #menu .main-menu .logo {
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-transform: uppercase;
    pointer-events: none;
  }

  #menu .main-menu .logo #logo-text {
    pointer-events: auto;
    font-size: 0.9rem;
  }

  #menu .main-menu .logo a {
    text-align: left;
    padding-left: 1rem;
    font-size: 1rem;

  }

  #menu a {
    text-align: center;
    width: 10rem;
    padding: 0.2rem 0rem 0.7rem 0rem;
  }

  #menu .sub-menu a {
    padding: 0.8rem 0rem 0.8rem 0rem;
  }

  #menu a:hover {
    color: #DB9300;
  }

  #menu .sub-menu a:hover {
    background-color: white;
    color: #DB9300;
  }

  #toggle-menu,
  #menu label.drop-icon {
    display: none;
  }

  .main-menu li a {
    vertical-align: middle;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: center;
    margin: 0;

  }



  .addon {
    justify-content: right;
    float: right;
    padding: 0;
    padding-top: 1.1rem;
    vertical-align: middle;
    pointer-events: none;
  }

  #menu .addon img {
    pointer-events: auto;
  }

  #menu .main-menu .addon a {
    text-align: right;
    padding-right: 1rem;
  }

  #menu .sub-menu li {
    float: left;
  }

  #menu .sub-menu {
    border: 1px solid #eee;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    z-index: 3000;
  }


  #menu .sub-menu,
  #menu input[type="checkbox"]:checked+.sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  #menu .sub-menu .drop-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
  }

  #menu li:hover>input[type="checkbox"]+.sub-menu {
    display: block;
  }

  .instagram {
    margin-left: auto;
    /* Aligns flex item to left */
    padding-top: 0.35rem;
  }

  .instagram a {
    text-decoration: none;
    color: #333;
  }

  .addon .instagram img {
    width: 30%;
  }

  #toggle-menu,
  #menu .addon a {
    padding: 0;
  }

  .language a img {
    vertical-align: middle;
    margin-left: 1rem;
    padding-top: 0.2rem;
    width: 30px;
  }

  .language-text {
    display: none;
  }
}