@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yrsa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
* {
  /* box-sizing: border-box;*/
  -webkit-tap-highlight-color: transparent; /* This stops mobile borders on elements */
}

/* mobile first design */
html {
  margin: 0;
  width: 100vw;
}

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  position: absolute;
}

/*Container Styling */
.container {
  width: 100%;
  margin: auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

a:hover {
  cursor: pointer !important;
}

.portfolio-container {
  margin-top: 0.3rem;
}

.small-container {
  margin: auto;
  width: 90%;
  overflow: hidden;
}

.small-container p {
  text-align: justify;
  color: #605e5e;
  font-weight: 100;
  font-size: 0.9rem;
}

/* Header styling */
.header {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  background: #333;
  /*font-family: Hoefler Text, Baskerville Old Face, Garamond, Times New Roman, serif; */
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  /* padding-bottom: 5vh;*/
  z-index: 999;
  padding-bottom: 2rem;
}

.header .logo {
  font: italic normal normal 1.4rem "libre baskerville", serif;
  color: #94703a;
  font-size: 1.7rem;
  text-decoration: none;
  text-align: right;
  width: 100%;
  margin-top: -0.3rem;
}

/*
.header .logo img {
  width: 50%;
  margin-right: 5rem;
  padding-left: 7rem;
  font: italic normal normal 1.4rem "libre baskerville", serif;
  color: #94703a;
  font-size: 1.7rem;
  text-decoration: none;
  text-align: right;
  width: 23rem;
}
*/

/*
.header .language {
  margin-left: 0rem;
  margin-right: 0rem;
  text-align: right;
  font-size: 2rem;
  padding-bottom: 2rem;
  text-decoration: none;
  position: absolute;
  top: 1.4rem;
  right: 1rem;
}*/

/*
.header .instagram a {
  display: block;
  font-size: 3rem;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  color: white;
}*/

/* Inner menu */
.header ul {
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  display: block;
  background-color: green;
  text-align: left;
}

.header ul li {
  display: block;
}

.header li {
  font-size: 1.5rem;
  text-align: left;
  background-color: blue;
}

.header li a {
  display: block;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: white;
  background-color: red;
}

/* Dropdown Menu */
/* Links inside the dropdown */
#menu-dropdown-submenu a {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #434343;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  background-color: pink;

  /*border-right: 1px solid #f4f4f4;*/
  text-decoration: none;
  color: white;
}

/* Dropdown Content (Hidden by Default) */
.menu-dropdown-submenu {
  z-index: 100;
  display: none;
  position: relative;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1.1rem 0rem 0rem 0rem;
}

.dropbtn {
  width: 100vw;
}

.dropbtn {
  background-color: #333;
  color: white;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.menu-dropdown {
  display: block;
}

/* Change color of dropdown links on hover 
#menu-dropdown-submenu a:hover {
  background-color: #ddd;
}
*/

/* Show the dropdown menu on hover */
#menu-dropdown-submenu {
  display: none;
}

.menu-dropdown:hover #menu-dropdown-submenu {
  display: block;
}

/*Mobile Menu Styling */

/* menu */
.header .menu {
  display: none;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  text-align: left;
  padding-left: 1rem;
  user-select: none;
  vertical-align: center;
}

/* Hamburger menu */
.header .menu-icon .navicon {
  background: white;
  display: block;
  top: 0.8rem; /*This is setting the top padding in the header */
  left: 1.2rem;
  height: 3px;
  position: relative;
  width: 22px;
  z-index: 1000;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 6px;
}

.header .menu-icon .navicon:after {
  top: -6px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  /*max-height: 100vh;*/
  display: block;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*Text Boxes */
#text-box {
  padding-top: 1rem;
  text-align: center;
  display: flex;
  line-height: 1.2rem;
}

.text-left h3 {
  margin-top: 0;
}

#text-box ul {
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
  width: 30%;
}

#text-box .table {
  flex: 1;
}

#text-box li {
  padding-top: 1rem;
  text-align: left;
}

#blog-text-box {
  padding-top: 0rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

#blog-text-box h1 {
  text-align: center;
  margin-bottom: 0;
}

#blog-text-box h2 {
  text-align: center;
  margin-top: 0.8rem;
}

#blog-text-box h3 {
  margin-top: 2rem;
}

#blog-text-box p {
  text-align: center;
  margin: 0;
}

#homepage-boxes #boxes {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Box containers */
#boxes {
  margin: 0;
  text-align: center;
}

#boxes #box-text {
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#box-text ul {
  margin: auto;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  margin-bottom: 1rem;
}

#box-text li {
  text-align: justify;
  color: #605e5e;
  font-weight: 100;
  font-size: 1.3rem;
}

.small-container h2 {
  margin-top: 0;
}

.gallery-header h2 {
  padding-bottom: 0;
}

.box p {
  padding-top: 1rem;
  margin-bottom: 0;
}

#boxes .box .image {
  overflow: hidden;
}
#boxes .box img {
  display: block;
  width: 100%;
  height: auto;
}

#boxes a {
  text-decoration: none;
  color: inherit;
}

#boxes p {
  border-bottom: 2px solid rgb(196, 198, 199);
  padding-bottom: 20px;
}

#boxes h5 {
  font-weight: 300;
  margin-top: 0;
  font-style: italic;
  border-bottom: 2px solid rgb(196, 198, 199);
  padding-bottom: 20px;
}

#map-embed {
  text-align: center;
  width: 100vw;
  padding-bottom: 2rem;
}

#map-frame {
  height: 50vh;
  width: 6000px;
}

#image-1-box {
  margin: auto;
  text-align: center;
}

#image-1-box .box .image img {
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#image-2-boxes {
  display: flex;
  width: 90%;
  text-align: center;
  align-items: center;
}
#image-2-boxes .box {
  flex: 40%;
  padding: 1rem;
}

#image-2-boxes .box .image img {
  flex: 40%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

#homepage-banner {
  z-index: -5;
}

#homepage-banner img {
  display: block;
  width: 100%;
  height: 20rem;
  margin: auto;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* Blog image layouts styling */
#full-width-banner {
  z-index: -5;
}

#full-width-banner img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* Quote banner */
#quote {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: white;
  width: 90%;
  margin: auto;
}

#quote h3 {
  font-family: Proxima Nova, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  padding-top: 1.3rem;
  margin: 0;
  color: white;
  font-style: italic;
}

#quote h3 {
  font-family: Bariol-Regular, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  color: #707c80;
}

#quote h4 {
  font-family: Gotham-Book, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: normal;
  text-transform: uppercase;
  color: #394042;
}

#quote hr {
  width: 20%;
  height: 1px;
  border-width: 0;
  color: #333;
  background-color: #333;
  opacity: 80%;
}

#footer {
  margin-top: 1rem;
  height: 5vh;
  background-color: #333;
  /*background-image: url("../images/travel-banner-2.jpg");*/
  opacity: 80%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footer-text p {
  font-size: 0.7rem;
  margin: 0;
  padding-top: 0.5rem;
  color: white;
}

#footer-text #social p {
  margin: 0;
  padding-top: 0.3rem;
}

/*Text Left and Image right section*/
.text-left-image-right {
  display: flex;
  flex-basis: 100%;
  text-align: center;
  height: auto;
  padding-bottom: 40px;
  padding-top: 30px;
  width: 85%;
  margin: auto;
}

.text-left-image-right .image-right {
  flex: 1;
  width: 20%;
}

.text-left-image-right .text-left {
  background-color: white;
  flex: 1;
  line-height: 1.3;
  text-align: left;
}

/* Gallery CSS*/
#gallery {
  padding-top: 3rem;
  text-align: center;
}

#gallery .image {
  display: inline;
}

#gallery-menu {
  padding-top: 20px;
  padding-bottom: 10px;
}

#gallery-menu ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#gallery-menu li {
  display: inline;
  margin-bottom: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: grey;
}

#gallery-menu .region li {
  display: inline;
  font-size: 12px;
  text-transform: uppercase;
  color: grey;
}

#gallery-menu .region .current {
  background-color: #e95a44;
  color: #fff;
}

#gallery-menu li:not(:first-child):before {
  content: "•";
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  width: 0.6em;
  text-align: center;
  content: "•";
  vertical-align: middle;
  display: inline-block;
  font-size: 1em;
}

#gallery-menu a {
  text-decoration: none;
  color: grey;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
}

#gallery-menu .country .active {
  font-weight: bold !important;
  color: white;
}

#gallery-menu a:hover {
  color: black;
}

/* Image Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  justify-content: center;
  grid-gap: 2rem;
}

.grid img {
  width: 15rem;
  height: 12rem;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s;
}

.grid img:hover {
  transform: scale(1.02);
  transform-origin: 50% 50%;
  opacity: 80%;
}

.box {
  overflow: hidden;
}

#boxes .box img {
  width: 110%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.gallery-new img {
  transition: 1s;
  padding: 15px;
  width: 200px;
}

.gallery-new img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.header li i {
  padding: 1rem 0rem;
  margin-left: 1rem;
}

.banner-image-blog img {
  width: 100%;
  object-fit: cover;
  height: 30%;
}

/* Global Headings styling */
h1 {
  font-size: 3rem;
  text-align: center;
  color: black;
  font-weight: normal;
}

h2 {
  font-family: "Yrsa", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
  color: black;
  text-align: left;
  padding-top: 0.5rem;
}

h3 {
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 0;
  color: black;
}

.figcaption {
  clear: both;
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  font-weight: 100;
}

.image #desktop-banner {
  display: none;
}
.image #mobile-banner {
  display: block;
}

.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
  margin: auto;
  margin-bottom: 1rem;
}

.flex-container p {
  font-size: 0.9rem;
  text-align: justify;
  color: #605e5e;
  font-weight: 100;
}

.flex-container-parallax {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
  margin: auto;
  margin-bottom: 1rem;
}

.flex-container-parallax p {
  font-size: 1rem;
  text-align: justify;
  color: #605e5e;
  font-weight: 100;
}

.flex-container-parallax p {
  font-size: 1rem;
  text-align: justify;
  color: #605e5e;
  font-weight: 100;
}

.flex-item-left {
  padding-top: 1rem;
  flex: 50%;
  text-align: justify;
  font: 1.3rem "Lato", sans-serif;
}

.flex-item-right {
  flex: 50%;
  margin-top: 1rem;
  text-align: justify;
  font: 1.3rem "Lato", sans-serif;
}

.flex-item-right h3 {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 1rem "Lato", sans-serif;
  color: #111;
}

.flex-item-right img {
  width: 90%;
  height: auto; /* constrains image within the flexbox container */
}

.flex-item-left img {
  width: 90%;
  height: auto; /* constrains image within the flexbox container */
}

/* Homepage flex-container */

.homepage-flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 95%;
  margin: auto;
  margin-bottom: 1rem;
}

.homepage-flex-item-left {
  padding-top: 0rem;
  flex: 40%;
  text-align: justify;
  font: 1rem "Lato", sans-serif;
}

.homepage-flex-item-left h4 {
  padding-top: 0.3rem;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  font: 0.7rem "Lato", sans-serif;
  color: #111;
}

.homepage-flex-item-right {
  flex: 50%;
  margin-top: 1rem;
  text-align: justify;
  margin: 0 auto;
  font: 1.3rem "Lato", sans-serif;
}

.homepage-flex-item-right h3 {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 1rem "Lato", sans-serif;
  color: #111;
}

.homepage-flex-item-right img {
  width: 100%;

  height: auto; /* constrains image within the flexbox container */
}

.homepage-flex-item-left img {
  width: 100%;
  height: auto; /* constrains image within the flexbox container */
}

/* Styling for parallax scrolling */

body,
html {
  height: 100%;
  margin: 0;
  /*font: 400 1.1rem/1.8 "Lato", sans-serif;*/
  color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../images/ronda/ronda_5.jpg");
  min-height: 80%;
}

.bgimg-2 {
  background-image: url("../images/ronda/ronda_1.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../images/ronda/ronda_3.jpg");
  min-height: 400px;
}

.homepage-parallax-banner-1,
.homepage-parallax-banner-2,
.homepage-parallax-banner-3 {
  display: flex;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.homepage-parallax-banner-1 {
  background-image: url("../images/ronda/ronda_18.jpg");
  min-height: 60%;
  filter: brightness(70%);
}

.homepage-parallax-banner-1 .centered-text-large {
  filter: brightness(100%) !important;
  z-index: 999;
}

.homepage-flex-container p {
  margin: 0;
}

.centered-text-header {
  z-index: 100;
}

.centered-text-large {
  z-index: 100;
}

.read-more {
  z-index: 100;
}

.centered-text-large hr {
  width: 10%;
  height: 2px;
  border-width: 0;
  color: #333;
  background-color: white;
  opacity: 80%;
}

.slider-centered-text-large {
  position: absolute;
  width: 80%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  /*font: 1rem "Lato", sans-serif;*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2em;
}

.slider-centered-text-large hr {
  width: 10%;
  height: 2px;
  border-width: 0;
  color: #333;
  background-color: white;
  opacity: 80%;
}

.slider-centered-text-header {
  position: absolute;
  width: 80%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  /*font: 1rem "Lato", sans-serif;*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2em;
}

.slider-read-more {
  position: absolute;
  padding: 0.8rem 1rem 0.8rem 1rem;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  /*font: 1rem "Lato", sans-serif;*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.2em;
  letter-spacing: 0rem;
  background: white;
}

.slider-read-more a {
  text-decoration: none;
  color: inherit;
}

.homepage-parallax-banner-2 {
  background-image: url("../images/ronda/ronda_5.jpg");
  min-height: 80%;
}

.homepage-parallax-banner-3 {
  background-image: url("../images/ronda/ronda_5.jpg");
  min-height: 80%;
}

.caption {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
  font: 1rem "Lato", sans-serif;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 14px;
  letter-spacing: 2px;
}

.parallax-text-container-white {
  color: #777;
  background-color: white;
  text-align: center;
  padding: 1rem 1rem 0rem 1rem;
  text-align: justify;
  font: 1rem "Lato", sans-serif;

  /*font: 400 1.1rem/1.8 "Lato", sans-serif;*/
}

.parallax-text-container-grey {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  text-align: justify;
  padding: 1rem 1rem 0rem 1rem;
  font: 1rem "Lato", sans-serif;
}

.parallax-text-container-white h3 {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 1rem "Lato", sans-serif;
  color: #111;
}

.parallax-text-container-grey h3 {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 1rem "Lato", sans-serif;
  color: white;
}

.parallax-text-container-white p {
  width: 100%;
}

.parallax-text-container-grey p {
  width: 100%;
}

.desktop-banner {
  display: none;
}

.mobile-banner img {
  width: 100%;
  height: 73vh;
  object-fit: cover;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

/* Features Styling */

.feature-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.feature-item-left {
  background: black;
  flex: 33%;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.feature-item-center {
  background: black;
  flex: 33%;
  position: relative;
  margin: 1rem;
  overflow: hidden;
}

.feature-item-right {
  background: black;
  flex: 33%;
  position: relative;
  margin: 1rem;
  overflow: hidden;
}

.feature-container img {
  width: 100%;
  object-fit: cover;
  transition: 0.7s;
  filter: brightness(80%);
  height: 13rem;
}

.centered-text {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  /*font: 1rem "Lato", sans-serif;*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2em;
}

.feature-container hr {
  width: 10%;
  height: 2px;
  border-width: 0;
  color: #333;
  background-color: white;
  opacity: 80%;
}

/*Large feature container styling */
.feature-container-large {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100rem;
  margin: 0 auto;
  padding: 2rem 0 2rem 0;
}

.feature-container-large img {
  width: 100%;
  object-fit: cover;
  transition: 0.7s;
  filter: brightness(80%);
  height: 13rem;
}

.feature-item-large {
  background: black;
  position: relative;
  overflow: hidden;
}

.centered-text-large {
  position: absolute;
  width: 80%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  /*font: 1rem "Lato", sans-serif;*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2em;
}

.centered-text-header {
  position: absolute;
  width: 80%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  /*font: 1rem "Lato", sans-serif;*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 1.2em;
}

.read-more {
  position: absolute;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  /*font: 1rem "Lato", sans-serif;*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 0.4rem;
  line-height: 1.2em;
  letter-spacing: 0rem;
  background: white;
}

.read-more a {
  text-decoration: none;
  color: inherit;
}

.read-more:hover {
  border: 2px solid white !important; /*inline style is given more preference so need to use important here */
  background: transparent;
  text-decoration: none;
  color: white !important;
}

.feature-read-more {
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  /*font: 1rem "Lato", sans-serif;*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 1.2em;
  letter-spacing: 0rem;
  background: black;
  width: 3.5rem;
  margin: 0 auto;
  border: 2px solid black !important; /*inline style is given more preference so need to use important here */
  margin-bottom: 2rem;
  margin-top: -1.5rem;
}

.feature-read-more a {
  text-decoration: none;
  color: inherit;
}

.feature-container-large hr {
  width: 10%;
  height: 2px;
  border-width: 0;
  color: #333;
  background-color: white;
  opacity: 80%;
}

.gallery-menu {
  margin: 0;
  text-align: center;
  padding-top: 1rem;
}

.gallery-menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  color: black;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 0.6rem "Lato", sans-serif;
  padding-bottom: 0.5rem;
}

h4 {
  padding-top: 2rem;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  font: 1rem "Lato", sans-serif;
  color: #111;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

/* Slider homepage images Styling */
/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 30rem;
  position: relative;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

.slideshow-container img {
  width: 100%;
  height: 30rem;
  position: relative;
  margin: auto;

  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 70%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 100%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dot-container {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size 
      @media only screen and (max-width: 300px) {
        .prev, .next,.text {font-size: 11px}
      }
      */

/*Media Queries */

/* Screen sizes 1024px and up */
@media (min-width: 1024px) {
  .image #desktop-banner {
    display: block;
  }
  .image #mobile-banner {
    display: none;
  }

  .small-container p {
    font-family: "Source Sans Pro", "Helvetica" sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
  }

  #boxes .box img:hover {
    transform: scale(1.05);
    transform-origin: 50% 50%;
    opacity: 90%;
  }

  .container {
    max-width: 100% !important;
  }

  #image-1-box .box .image img {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .small-container {
    width: 50%;
  }

  #text-box {
    text-align: center;
    line-height: 1.6rem;
  }

  #box-text {
    padding-top: 2.5rem;
  }

  #box-text p {
    font-size: 1rem;
  }

  #boxes {
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0;
    text-align: center;
  }

  #boxes .box {
    width: 33%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #boxes #box-text {
    padding: 0;
  }

  #boxes .box .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 17rem;
  }

  #blog-text-box a {
    text-decoration: none;
    font-weight: normal;
  }

  #services-boxes {
    display: flex;
    padding: 2rem;
    margin: 0;
    text-align: center;
    line-height: 1.8rem;
    padding-bottom: 0.5rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  #services-boxes .box {
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
  }

  #services-boxes #box-text {
    padding: 0;
  }

  /*Header styling */
  .header {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    height: 3rem;
    margin: 0 auto;
  }

  .header .menu-icon {
    display: none;
  }

  .header .logo {
    font: italic normal normal 1.4rem "libre baskerville", serif;
    color: #94703a;
    text-align: right;
    width: 15rem;
    margin-top: 0.4rem;
    margin-right: 4rem;
    margin-left: 0rem;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-decoration: none;
  }

  .header .logo img {
    font: italic normal normal 1.4rem "libre baskerville", serif;
    color: #94703a;
    font-size: 1.7rem;
    text-decoration: none;
    text-align: right;
    margin-right: 0;
    padding-left: 1rem;
    margin-right: 5rem;
    width: 18rem;
  }

  .header .instagram a {
    margin-left: 0rem;
    margin-right: 0rem;
    text-align: right;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-decoration: none;
    position: absolute;
    top: 0.55rem;
    right: 6rem;
    margin-top: 0.6rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }

  .header .language {
    margin-left: 0rem;
    margin-right: 0rem;
    text-align: right;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-decoration: none;
    position: absolute;
    top: 1.4rem;
    right: 1rem;
  }

  .header li {
    font-size: 1.3rem;
    text-align: center;
    display: inline-flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-top: 0.2rem;
    font-weight: 400;
  }

  /* Top menu styling */
  .header li a {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-left: 3rem;
    margin-right: 3rem;
    /*border-right: 1px solid #f4f4f4;*/
    text-decoration: none;
    color: white;
    background-color: red;
  }

  .header li a .i {
    margin-top: 50rem;
  }

  .header .menu {
    display: inline-flex;
    max-height: none;
    float: right;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 15rem);
    justify-content: center;
    grid-gap: 2rem;
  }

  .grid img {
    width: 15rem;
    height: 12rem;
    object-fit: cover;
    transition: all 0.2s;
  }

  /* Contact us stylings */
  .text-left-image-right {
    display: flex;
    flex-basis: 50%;
    text-align: center;
    height: auto;
    padding-bottom: 40px;
    padding-top: 30px;
    width: 85%;
    margin: auto;
  }

  .text-left-image-right .text-left {
    background-color: white;
    flex: 33%;
    line-height: 1.3;
    text-align: left;
  }

  .text-left-image-right h3 {
    padding-bottom: 0.6rem;
  }

  #gallery > img:hover {
    width: 500px;
    height: 200px;
  }

  #box-text h3 {
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
  }
  #box-text li {
    font-size: 1rem;
    margin: 0;
    line-height: 2rem;
  }

  #footer {
    margin-top: 1.2rem;
    height: 7vh;
    /* background-size: cover;
    background-position: 30% 50%; */
    position: relative;
    bottom: 0;
  }

  #footer-text p {
    padding-top: 1rem;
    font-weight: 100;
    font-size: 0.9rem;
  }

  /* Dropdown Button from w3 */
  .dropbtn {
    background-color: #333;
    color: white;
    border: none;
    width: 100%;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 100;
  }

  /* Dropdown Content (Hidden by Default) */
  #menu-dropdown-submenu {
    z-index: 100;
    display: none;
    position: relative;
    background-color: #333;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 1.1rem 0rem 0rem 0rem;
    max-height: 0px;
  }

  .header ul {
    overflow: visible;
  }

  .header ul:hover ~ #menu-dropdown-submenu {
    overflow: visible;
    opacity: 0.9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .menu-dropdown:hover > .header ul {
    max-height: 1000px;
    opacity: 1;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .#menu-dropdown-submenu {
  }

  /* Dropdown Button from w3 */
  .dropbtn li a {
    text-align: left;
    margin-top: 0.9rem;
    margin-bottom: 0;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    /*border-right: 1px solid #f4f4f4;*/
    text-decoration: none;
    color: white;
  }

  /* Links inside the dropdown */
  #menu-dropdown-submenu a {
    color: white;
    padding: 0.7rem 0.7rem;
    font-size: 1rem;
    margin-left: 0rem;
    text-decoration: none;
    display: block;
    background-color: #333;
  }

  .mobile-drop-icon {
    display: none;
  }

  .top-menu {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .sub-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition: 2s ease-in;
    -moz-transition: 2s ease-in;
    -o-transition: 2s ease-in;
    -ms-transition: 2s ease-in;
    transition: 2s ease-in;
    transition: background-color 0.5s ease;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .sub-menu a:hover {
    background-color: #ddd;
  }

  .dropdown .top-menu:hover .sub-menu {
    display: block;
    background-color: green;

    -webkit-transition: 2s;
    -moz-transition: 2s ease-in;
    -o-transition: 2s ease-in;
    -ms-transition: 2s ease-in;
    transition: 2s ease-in;
    opacity: 0.3;
    width: 1000px;
  }

  .dropdown:hover .top-menu {
    background-color: #3e8e41;
  }

  /* Quote banner */
  #quote {
    width: 60%;
  }

  #quote hr {
    width: 10%;
  }

  .flex-container {
    flex-direction: row;
    width: 80%;
  }

  .flex-container-parallax {
    flex-direction: row;
    width: 95%;
  }

  .flex-container-parallax h3 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 2rem "Lato", sans-serif;
    color: #111;
  }

  .flex-container {
    width: 95%;
  }

  .flex-container p {
    font-size: 1rem;
  }

  .flex-container-parallax p {
    font-size: 1.3rem;
  }

  .flex-item-right {
    margin-top: 0rem;
    margin-left: 1rem;
    padding: 1rem;
  }

  /* Styling for parallax scrolling */
  .caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
  }

  .parallax-text-container-white {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 1rem;
    text-align: justify;
    margin: 0 auto;
    width: 80%;
    font: 1.3rem "Lato", sans-serif;
  }

  .parallax-text-container-grey {
    color: #ddd;
    background-color: #282e34;
    text-align: center;
    text-align: justify;
    padding: 1rem;
    margin: 0 auto;
    padding-left: 10rem;
    padding-right: 10rem;
    font: 1.3rem "Lato", sans-serif;
  }

  .parallax-text-container-white h3 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 2rem "Lato", sans-serif;
    color: #111;
  }

  #read-more {
    background-color: grey;
    text-decoration: none;
    border: none;
    font: 1rem "Lato", sans-serif;
  }

  h2 {
    padding-top: 2rem;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font: 2rem "Lato", sans-serif;
    color: #111;
  }

  h4 {
    padding-top: 2rem;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font: 1rem "Lato", sans-serif;
    color: #111;
  }

  .parallax-text-container-grey h3 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 2rem "Lato", sans-serif;
    color: white;
  }

  .parallax-text-container-white p {
    width: 100%;
  }

  .parallax-text-container-grey p {
    width: 100%;
  }

  /* Features styling */
  .feature-container {
    flex-direction: row;
    width: 85%;
  }

  .feature-container img {
    height: 20rem;
  }

  .feature-container-large {
    width: 100%;
    height: 500vh;
  }

  .feature-container-large img {
    height: 40rem;
    width: 100%;
  }

  .mobile-banner {
    display: none;
  }
  .desktop-banner {
    margin: auto;
    width: 100%;
    display: block;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
  }

  .desktop-banner img {
    margin: 0;
    width: 100%;
    background: #fff;
    height: 88vh;
    object-fit: cover;
    object-position: 100% 25%;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
  }

  #homepage-banner {
  }

  #homepage-banner img {
    height: 25rem;
  }

  .feature-item-left:hover img {
    /* filter: brightness(120%); */
    transform: scale(1.07);
    transform-origin: 50% 50%;
  }

  .feature-item-center:hover img {
    /* filter: brightness(120%); */
    transform: scale(1.07);
    transform-origin: 50% 50%;
  }

  .feature-item-right:hover img {
    /* filter: brightness(120%); */
    transform: scale(1.07);
    transform-origin: 50% 50%;
  }

  .gallery-menu {
    margin: 0;
    text-align: center;
    padding-top: 1rem;
  }

  .gallery-menu a {
    text-align: center;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 1rem "Lato", sans-serif;
    display: inline;
  }

  .portfolio-container {
    margin-top: 0.3rem;
  }

  .feature-container-large {
    height: 40rem;
  }

  .homepage-flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
  }

  .homepage-flex-item-left {
    padding-top: 2rem;
    flex: 40%;
    text-align: left;
    font: 1rem "Lato", sans-serif;
  }

  .homepage-flex-item-right {
    flex: 50%;
    margin-top: 1rem;
    text-align: justify;
    margin: 0 auto;
    font: 1.3rem "Lato", sans-serif;
  }

  .homepage-flex-item-right h3 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 1rem "Lato", sans-serif;
    color: #111;
  }

  .homepage-flex-item-right img {
    width: 100%;
    height: auto; /* constrains image within the flexbox container */
  }

  .homepage-flex-item-left img {
    width: 100%;
    height: auto; /* constrains image within the flexbox container */
  }

  .homepage-flex-item-left p {
    padding-top: 0rem;
  }

  /*Large feature container styling */

  .centered-text-large {
    position: absolute;
    width: 80%;
    top: 40%;
    left: 50%;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2em;
  }

  .centered-text-header {
    position: absolute;
    width: 80%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    /*font: 1rem "Lato", sans-serif;*/
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2em;
  }

  .read-more {
    position: absolute;
    padding: 0.8rem 1rem 0.8rem 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    /*font: 1rem "Lato", sans-serif;*/
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.2em;
    letter-spacing: 0rem;
    background: white;
  }

  .read-more a {
    text-decoration: none;
    color: inherit;
  }

  .read-more:hover {
    border: 2px solid white !important; /*inline style is given more preference so need to use important here */
    background: transparent;
    text-decoration: none;
    color: white !important;
  }

  /*Large Slider feature container styling */

  .slider-centered-text-large {
    position: absolute;
    width: 80%;
    top: 80%;
    left: 50%;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2em;
  }

  .slider-centered-text-header {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    /*font: 1rem "Lato", sans-serif;*/
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2em;
  }

  .slider-read-more {
    position: absolute;
    padding: 0.8rem 1rem 0.8rem 1rem;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    /*font: 1rem "Lato", sans-serif;*/
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.2em;
    letter-spacing: 0rem;
    background: white;
  }

  .slider-read-more a {
    text-decoration: none;
    color: inherit;
  }

  .slider-read-more:hover {
    border: 2px solid white !important; /*inline style is given more preference so need to use important here */
    background: transparent;
    text-decoration: none;
    color: white !important;
  }

  .homepage-parallax-banner-1 {
    min-height: 80%;
  }

  .feature-read-more {
    font-size: 0.8rem;
    width: 20%;
  }

  .feature-read-more:hover {
    border: 2px solid black !important; /*inline style is given more preference so need to use important here */
    background: transparent;
    text-decoration: none;
    color: black !important;
  }
}
